/* Container chính */
.edit-profile-page {
    display: flex;
    justify-content: center;
    padding: 100px 20px 80px;
}

.content-profile {
    display: flex;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
}

.left-container {
    flex: 1;
    border-right: 1px solid #d9d9d9;
    padding: 20px 0 20px 0;
    background-color: #f9f9f9;
}

.right-container {
    flex: 2;
    padding: 20px;
}

.avatar-upload {
    text-align: center;
    margin-bottom: 20px;
}

.upload-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #7d00dc;
}

.avatar-upload .ant-image {
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.menu-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: #dcd2d2;
    font-weight: 600;
    color: #333333;
    text-align: center;
    cursor: pointer;
}

.menu-div:hover {
    background-color: #d9d9d9;
    color: #333333;
}

.edit-profile-form {
    width: 100%;
    padding: 10px;
}

.edit-profile-form .ant-form-item {
    margin-bottom: 16px;
}

.edit-profile-form .ant-form-item-label>label {
    font-weight: 500;
    color: #555555;
}

.edit-profile-form .ant-input {
    border-radius: 4px;
    padding: 8px;
}

.edit-profile-form .ant-space {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 17px;
}

.edit-profile-form .code-button-container {
    display: flex;
    align-items: center;
}

.edit-profile-form .ant-btn-primary {
    background-color: #0056d2;
    border-color: #0056d2;
    font-weight: 600;
}

.edit-profile-form .ant-btn-primary:hover {
    background-color: #0044a3;
    border-color: #0044a3;
}

.edit-profile-form .ant-btn-countdown {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #333;
}

.edit-profile-form .ant-btn-countdown:hover {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #333;
}